body {
  margin: 0;
  background-color: rgb(212, 212, 212);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

article.card {
  width: 280px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  color: rgba(59, 28, 28, 0.4);
  position: relative;
}

.card span.close {
  position: absolute;
  top: 34px;
  right: 20px;
  font-size: 2rem;
  font-weight: bolder;
  color: #333;
  cursor: ∏;
}

.card img.profile {
  width: 7rem;
  border-radius: 999rem;
}

.card h1 {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.8);
  margin: 0.75rem 0 0.5rem 0;
}

.card p {
  margin: 0;
  padding: 0;
}

.card a {
  text-decoration: none;
  width: calc(100% - 1.3rem);
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
  text-align: center;
  margin: 1.5rem 0.5rem;
  border-radius: 999rem;
  font-size: 1.2rem;
}

.card a:hover {
  background-color: #000;
}
