body {
  margin: 0;
  background-color: rgb(212, 212, 212);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

article.card {
  width: 280px;
  height: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  color: rgba(59, 28, 28, 0.4);
  position: relative;
}

.card span.close {
  position: absolute;
  top: 34px;
  right: 20px;
  font-size: 2rem;
  font-weight: bolder;
  color: #333;
  cursor: ∏;
}
